*{
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-image: url('./images/1282513.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

#root {
  display: flex;
  height: 100vh;
  align-items: center;
  flex-direction: column;
}

